* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    color: #95e1d3;
}

a {
    display: block;
    text-decoration: none;
    color: #95e1d3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */

.header {
    padding: 12px 0 110px 0;
}


.logo a {
    display: block;
    font-size: 30px;
    font-family: "Montserrat";
    color: #95e1d3;
    font-weight: 700;
}


.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}




.menu-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 14px;
    font-family: "Montserrat";
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.menu-list-item:not(:last-child){
    margin-right: 29px;
}


.menu-link {
    display: block;
    text-decoration: none;
}

.menu-link:hover {
    color: #f38181;
}

.menu-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #f38181;
    transition: width .3s;
}

.menu-link:hover::after {
    width: 100%;
    transition: width .3s;
}



/* MAIN */
/* SERVICES-SECTION */
.services {
    padding-bottom: 84px;
}

.section-titles {
    text-align: center;
}

.first-title {
    margin-bottom: 58px;
}

.section-titles::after {
    display: block;
    margin: 26px auto 0 auto;
    content: "";
    background-color: #f38181;
    width: 60px;
    height: 3px;
}


.section-title {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
}

.title-span{
    display: block;
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333333;
    line-height: 1.2;
    margin-bottom: 16px;
    text-transform: none;
}



.services-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}

.services-list-item {
    display: flex;
    justify-content: space-around;
    width: 382px;
    padding-left: 82px;
}

.services-list-title {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 16px;
}

.services-list-content {
    font-size: 15px;
    font-family: "Roboto";
    color: #999999;
    line-height: 1.6;
}

/* SPRITES */

.icon {
    background-repeat: no-repeat;
    background-position: left 20px top;
}

.alarm {
    background-image: url(../img/ALARM.png);
}

.diagram {
    background-image: url(../img/diagram.png);
}

.comp {
    background-image: url(../img/comp.png);
}

.book {
    background-image: url(../img/book.png);
}

.home {
    background-image: url(../img/maison.png);
}

.digital {
    background-image: url(../img/digital.png);
}

/* TEAM SECTION */

.second-title {
    padding: 0;
    margin: 0;
    margin-bottom: 42px;
}

.team-text {
    width: 75%;
    margin: auto;
    text-align: center;
    font-size: 15px;
    font-family: "Roboto";
    color: #999999;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 82px;
}
  
/* TEAM CARDS */

.team-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-list-item {
    background-color: #95e1d3;
    color: black;
}


.image-container img {
    display: block;
    object-fit: cover;
    height:470px; 
    width:380px;
}

.image-container {
    position: relative;
    transition: transform .2s linear;
}

.image-container::before {
    position: absolute;
    content: "";
    background-image: linear-gradient(90deg, #fce38a 0%, rgb(243, 129, 129) 100%);
    position: absolute;
    left: 0;
    top: 0;
    width: 380px;
    height: 470px;
    opacity: 0;
    transition: opacity .2s linear;
}

.image-container:hover::before{
    opacity: 0.72;
}


.image-container:hover {
    transform: translate(-10px, -10px);
}

/* SOCIALS */

.socials {
    padding: 0;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    opacity: 0;
    transition: opacity .2s linear;
}

.socials li:not(:last-child){
    margin-right: 1px;
}

.image-container:hover .socials{
    opacity: 1;
}


.socials-item{
    display: block;
}

.socials-item{
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    height: 56px;
    width: 56px;
    background-color: #fce38a;
}

.socials-item:hover{
    background-color: #95e1d3;
}

.facebook{
    background-image: url(../img/facebook.png);
}

.twitter{
    background-image: url(../img/twitter.png);
}

.pinterest{
    background-image: url(../img/pinterest.png);
}

.instagram{
    background-image: url(../img/instagram.png);
}

/* TEAM INFO */

.team-info{
    padding: 27px 0;
}

.team-name{
    font-size: 14px;
    font-family: "Montserrat";
    color: #333333;
    text-transform: uppercase;
    text-align: center;
}

.profession{
    font-size: 15px;
    font-family: "Roboto";
    color: #999999;
    font-style: italic;
    line-height: 1.6;
    text-align: center;
}

/* FOOTER */
.footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-top: 1px solid #e5e5e5;
    padding: 12px 0;
}

.credit {
    font-size: 14px;
    font-family: "Montserrat";
    color: #333333;
    line-height: 1.2;
  }

  .credit a{
      display: inline-block;
      color: #f38181;
  }
/* FORM */
  .my-form{
      display: flex;
  }
  

  input[type=email]{
      box-sizing: border-box;
      display: block;
      border: 1px solid #e7e7e7;
      border-right: 0;
      width: 234px;
      height: 40px;
      padding-left: 12px;
      font-size: 15px;
      font-family: "Roboto";
      color: #333333;
      font-style: italic;
      line-height: 1.6;
      outline: none;
  }

  input[type=text]::placeholder{
    color: #cccccc;
    font-style: italic;
    line-height: 1.6;
    outline: none;
  }

  input[type=submit]{
      display: block;
      border: none;
      background-color: #95e1d3;
      color: #ffffff;
      width: 150px;
      height: 40px;
      font-size: 14px;
      font-family: "Montserrat";
      color: #ffffff;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center;
  }


  
  .Rectangle_26 {

    z-index: 6;
  }
  
/* MEDIA QUERIES */

@media (min-width: 1140px) {
    .team-list {
        flex-direction: row;
        justify-content: space-between;
    }


}


@media (min-width: 1146px) {
    .services-list-item:not(:nth-last-child(-n+3)) {
        margin-bottom: 92px;
    }
}